{#
/**
 * @file
 * Default theme implementation for the label help markup.
 *
 * Available variables:
 * - content:  the content to display.
 *
 * @ingroup themeable
 */
#}
<div class="description label-description">{{ content }}</div>
